.comment {
  display: flex;
  gap: var(--spacing-small);
  margin: var(--spacing-large) 0px;
}

.comment__content {
  flex: 1;
}

.comment__name {
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-semibold);
}

.comment__timestamp {
  font-size: var(--font-size-x-small);
  font-weight: var(--font-weight-light);
  color: var(--color-cyan-800);
  margin-left: var(--spacing-2x-small);
}

.comment__content__text {
  font-weight: var(--font-weight-light);
  margin-top: var(--spacing-2x-small);
}

.comment__actions {
  margin-top: var(--spacing-x-small);
}

.comment__actions__upvote {
  margin-left: calc(-1 * var(--spacing-small));
}

